.cartBox{
  width: 30vw;
  height: 90vh;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;

  .cartArea{
    width: 29vw;
    height: 60vh;
    overflow: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar { 
      display: none;
  }
  }

  .payBox{
    text-align: center;
  }
}